Entrance-Source-Code/ocr-access-control-46a21-firebase-adminsdk-fbsvc-a648214418.json
Entrance-Source-Code-Firebase/ocr-access-control-46a21-firebase-adminsdk-fbsvc-a648214418.json
Exit-Source-Code/ocr-access-control-46a21-firebase-adminsdk-fbsvc-a648214418.json
captureIDs/
qrcodes/
